:root {
    --background-color: hsl(217, 54%, 11%);
    --card-background-color: hsl(216, 50%, 16%);
}

html {
    height: 100%;
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-weight: 300;
}

body {
    background-color: var(--background-color);
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--card-background-color);
    max-width: 350px;
    max-height: 600px;
    display:flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 15px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin-block-end: 0.4em;
    transition: all .5s ease-in-out;
}

h1:hover {
    color: hsl(178, 100%, 50%);
}

.overlay {
    background-color: hsl(178, 100%, 50%);
    border-radius: 15px;
    height: 350px;
}

.overlay .nft {
    transition: all .5s ease-in-out;
}

.overlay:hover .nft {
    opacity: .65;
}

.details {
    display: flex;
    justify-content: space-between;
}

.nft {
    width: 100%;
    border-radius: 15px;
}

.content {
    display:flex;
    flex-direction: column;
}

.info {
    justify-content: right;
}

.creator, .details {
    display: flex;
    padding: 10px 0;
}

.creator {
    align-items: center;
    border-top: 1px solid hsl(215, 32%, 27%);
}

.creator p {
    margin-left: 15px;
}

.creator img {
    height: 33px;
    width: 33px;
}

.description {
    margin-block-start: 0.1em;
}

.name-title {
    color: hsl(0, 0%, 100%);
    transition: all .5s ease-in-out;
}

.price {
    font-weight: 600;
    color: hsl(178, 100%, 50%);
}

.name-title:hover {
    color: hsl(178, 100%, 50%);
}